<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.name %></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/page.js/1.7.1/page.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/examples/query-string/query.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.production.min.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/mobx/lib/mobx.umd.min.js" type="text/javascript"></script>
    <script src="https://npmcdn.com/mobx-react" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="app"></div>
    <script>
      var Conf = {
        api_url: '<%= htmlWebpackPlugin.options.api_url %>',
        perPage: <%= htmlWebpackPlugin.options.perPage %>,
        basepath: '<%= htmlWebpackPlugin.options.basepath %>'
      };
    </script>
    <script src="<%= htmlWebpackPlugin.options.basepath %>/main.min.js" type="text/javascript"></script>
  </body>
</html>
